@{
    ViewBag.Title = "Home Page";
}


<body>

    <div style="background: cornsilk" class="jumbotron">
        <h1>Get Your Free Coffee Here!</h1>
        <p class="lead">Get a free LARGE Coffee when you register</p>
        <p><a href="/Home/Register" class="btn btn-primary btn-lg" style="background: brown">Click to Register&raquo;</a></p>
    </div>


    <div class="row">
        <div class="col-md-4"  style="border: solid brown">
            <h2 style="text-align:center">Live 6 Blend</h2>
            <img src="https://farm8.staticflickr.com/7370/16202639039_01394d860f_n.jpg" width="320" height="212" alt="Coffee">

            <p>Regione prodesset id cum, his in recusabo aliquando theophrastus. 
            Quo tota illum te. Delectus adipiscing in eam, tale regione eos cu, ad delenit lobortis duo. 
            Eos ei amet iudicabit eloquentiam, porro populo iisque an per.</p>
            <p><a class="btn btn-default" style="border-color: brown" href="https://go.microsoft.com/fwlink/?LinkId=301865">Add Product &raquo;</a></p>
        </div>
        <div class="col-md-4"  style="border: solid brown ; border-spacing: 5px ">
            <h2 style="text-align:center">7 Mile Dark Brew</h2>
            <img src="https://farm3.staticflickr.com/2930/14330276248_632e22a587_n.jpg" width="320" height="212" alt="coffee lover">
            <p>Regione prodesset id cum, his in recusabo aliquando theophrastus.
                Quo tota illum te. Delectus adipiscing in eam, tale regione eos cu, ad delenit lobortis duo.
                Eos ei amet iudicabit eloquentiam, porro populo iisque an per.</p>
            
            <p><a class="btn btn-default" style="border-color: brown "href="https://go.microsoft.com/fwlink/?LinkId=301866">Add Product &raquo;</a></p>
        </div>
        <div class="col-md-4"  style="border: solid brown">
            <h2 style="text-align:center">Islandview Blend </h2>
            <img src="https://farm8.staticflickr.com/7656/17301129215_776b9e9972_n.jpg" width="320" height="212" alt="Hot coffee">
            <p>Regione prodesset id cum, his in recusabo aliquando theophrastus.
                Quo tota illum te. Delectus adipiscing in eam, tale regione eos cu, ad delenit lobortis duo.
                Eos ei amet iudicabit eloquentiam, porro populo iisque an per.</p>
             
            <p><a class="btn btn-default" style="border-color: brown" href="https://go.microsoft.com/fwlink/?LinkId=301867">Add Product &raquo;</a></p>
        </div>
    </div>
    

</body>


