@{
    ViewBag.Title = "Register";
}
<head></head>
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<h3>@ViewBag.Name</h3>
@model CoffeeShopApp.Models.SignUps

   
    
    <div class="container">
        <h2>Registration</h2>
        <form action="/Home/DisplayName" method="post" class="form-group" style="color: brown">
            <div class="form-group">
                <label for="First Name">First Name</label> 
                <input type="text" class="form-control" id="First Name" placeholder="First Name" pattern="^[A-Z a-z ]{1,}" name="FirstName" required/> 
            </div>
            <div class="form-group">
                <label for="Last Name">Last Name</label> 
                <input type="text" class="form-control" id="Last Name" placeholder="Last Name" pattern="^[A-Za-z]{1,}"  name="LastName" required/> 
            </div>
            <div class="form-group">
                <label for="Email">Email</label> 
                <input type="email" class="form-control" id="Email" placeholder="john@company.com"  name="Email" required/> 
            </div>
            <div class="form-group">
                <label for="Password">Password</label> 
                <input type="password" class="form-control" id="Password" placeholder="Password" name="Password" required/>
            </div>
            <div class="form-group">
                <label for="Phone Number">Phone Number</label> 
                <input type="text" class="form-control" id="Phone Number" placeholder="1234567891" pattern="^[0-9]{10}" name="Phone" required/>
            </div>
            <div class="form-group">
                <label for="FavFlavor">Favorite Flavor</label>
                <select class="form-control" id="FavFlavor">
                    <option value="selection">Select Flavor</option>
                    <option value="light">Live 6 Blend </option>
                    <option value="medium">7 Mile Medium</option>
                    <option value="dark">Belle Isle Dark Brew</option>
                </select>
            </div>
            <div class="form-group">
                <label for="FavLocation">Favorite Location</label>
                <select class="form-control" id="FavLocation" >
                    <option value="selection">Select Location</option>
                    <option value="nwdetroit">Northwest Detroit Livernois</option>
                    <option value="edetroit">East Riverfront Jeferson Ave</option>
                    <option value="swdetroit">Sowthwest Detroit W.Vernor</option>
                    </select>
            </div>
           <div class="form-group">
                <label for="Zip">Zip Code</label>
                <input type="text" class="form-control" id="Zip" placeholder="12345" pattern="" name="Zip"  />
            </div>

            <input type="submit" value="Register" style="background: brown; color: white"/>
        </form>
    </div>

    
    
    
    
    
    



