@{
    ViewBag.Title = "Register";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
@model CoffeeShopApp.Models.SignUps
<form action="/Home/DisplayName" method="post">
    
    First Name: <input type= "text" name ="FirstName" class =" form-control"/><br/>
    Last Name: <input type= "text" name="LastName" class =" form-control"/><br/>
    Email: <input type="text" name="Email" class =" form-control"/><br />
    Phone: <input type="text" name="Phone" class =" form-control" /><br />
    Password: <input type="text" name="Password" class =" form-control" /><br />
    <input type="submit" value="Submit Registration"/>
</form>


